* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.header {
  display: flex;
  align-items: center;
  gap: 100px;
  width: 60%;
  margin: auto;
  margin-top: 20px;
}
.header-img {
  width: 119px;
  height: 39px;
}
.header-img img {
  width: 100%;
  height: 100%;
}
.menu {
  display: flex;
  gap: 50px;
  align-items: center;
}
.input svg {
  fill: gray;
  width: 15px;
  height: 15px;
}
.weather {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.weather p {
  font-size: 15px;
  color: rgb(58, 58, 58);
}
.weather div {
  display: flex;
}
.headerRight {
  display: flex;
  gap: 40px;
}
.hIMg {
  display: flex;
  gap: 10px;
}
